{% extends "cafecrm/base.html" %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
 <div class="send-message col-6 d-flex justify-content-center" >
        {% if not sent %} <!--добавляем флаг (добавлено во вьюшку) если не было отправлено, открываем форму-->
            <form method="post">
            <div><p>Чтобы создать новый товар, введите следующие данные:</p></div>
            {% csrf_token %}
            <div class="form-group">
                Выбрать тип товара: {{ form.product_type }}
            </div>
            <div class="form-group">
                Ввести название товара: {{ form.product_name }}
            </div>
            <div class="form-group">
                Ввести единицу измерения:{{ form.unit }}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-send-message" value="Добавить товар">
            </div>
            <span>{{ error }}</span>
        </form>
        {% else %}  <!--если отправлено-->
            <br> Товар успешно добавлен.
        {% endif %}
    </div>
{% endblock %}