{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'cafecrm/css/bootstrap/css/bootstrap.min.css'%}" type="text/css">
    <script type="text/javascript" src="{% static 'cafecrm/css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'cafecrm/css/style.css'%}" type="text/css">
</head>

<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'cafecrm:home' %}">
      <img src="{% static 'cafecrm/img/minilogo_200x200.png' %}" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
      {{ user.first_name }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_superuser %}
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'stock' %} active {% endif %}"
            aria-current="page" href="{% url 'cafecrm:stock' %}"  hreflang="ar">Остатки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'menu' %} active {% endif %}"
            aria-current="page" href="{% url 'cafecrm:menu' %}">Меню</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'add_simple_product' or request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'drinks'%} active {% endif %}"
            aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Создать документ
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'cafecrm:add_simple_product' %}">Новый продукт</a></li>
              <li><a class="dropdown-item" href="{% url 'cafecrm:products' %}">Добавить товар в меню</a></li>
              <li><a class="dropdown-item" href="{% url 'cafecrm:drinks' %}">Продажа</a></li>
              <li><a class="dropdown-item" href="{% url 'cafecrm:products' %}">Приход / расход</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/">Панель администратора</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cafecrm:logout' %}">Выйти</a>
          </li>
        </ul>
      </div>
    {% elif user.is_staff %}
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'stock' %} active {% endif %}"
            aria-current="page" href="{% url 'cafecrm:stock' %}"  hreflang="ar">Остатки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'menu' %} active {% endif %}"
            aria-current="page" href="{% url 'cafecrm:menu' %}">Меню</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'add_simple_product' or request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'drinks'%} active {% endif %}"
              aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Создать документ
            </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="{% url 'cafecrm:add_simple_product' %}">Новый продукт</a></li>
                <li><a class="dropdown-item" href="{% url 'cafecrm:products' %}">Добавить товар в меню</a></li>
                <li><a class="dropdown-item" href="{% url 'cafecrm:drinks' %}">Продажа</a></li>
                <li><a class="dropdown-item" href="{% url 'cafecrm:products' %}">Приход / расход</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cafecrm:logout' %}">Выйти</a>
          </li>
        </ul>
      </div>
    {% else %}
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'menu' %} active {% endif %}"
            aria-current="page" href="{% url 'cafecrm:menu' %}">Меню</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'drinks' %} active {% endif %}"
            aria-current="page" href="{% url 'cafecrm:drinks' %}">Продажа</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cafecrm:logout' %}">Выйти</a>
          </li>
        </ul>
      </div>
    {% endif %}
    </div>
  </nav>

<div class="container">
{% block content %}
{% endblock %}
</div>

</div>
</body>
</html>