{% extends "cafecrm/base.html" %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if not sent %}
        {% if message %}
            {{ product }} {{ message }}.
            <br>
             В документе - {{ quantity }}, доступный остаток - {{ stock }}
            <br> Не хватает {{ deficit }}
            <br>
            <a href="{% url 'doc_temp:doc_detail' %}" class="button light">Изменить количество товара</a>
        {% else %}

         <h4>Новый документ</h4>
        <!--form-->
        <form action="" method="post" class="order-form">
            {{ form.as_p }}
            <!--items-->
        <div class="order-info">
        <h3>Товар в  {{ document_type }}: </h3>
        <ul>
            {% for item in doc %}
                <li>
                    {{ item.product.product_name }} -
                    {{ item.quantity }} {{ item.product.unit }}
            {% endfor %}
        </ul>

    <a href="{% url 'cafecrm:products' %}" class="button light">Добавить товар в {{ document_type }}</a>
    <br>

    <a href="{% url 'doc_temp:doc_detail' %}" class="button light">Изменить количество товара</a>
    </div>
                    <p><input type="submit" value="Создать {{ document_type }}"></p>
            {% csrf_token %}
        </form>
            {% endif %}
    {% else %}

        <!--success-->
         <h4>Документ - {{ document.document_type }} № {{ document.id }} был создан {{ document.created }}</h4>
    <!--ingredients-->
    <div class="order-info">
        <h4>Товары в документе: </h4>
        <ul>
            {% for item in doc %}
                <li>
                    {{ item.product.product_name }} - {{ item.quantity }} {{ item.product.unit }}
                </li>
            {% endfor %}
        </ul>
        {{ document.description }}
    </div>
    {% endif %}
{% endblock %}