{% extends "cafecrm/base.html" %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if not sent %}
         <h4>Чтобы создать новый товар в меню, введите следующие данные:</h4>
        <!--form-->
        <form action="" method="post" class="order-form">
            {{ form.as_p }}

            <!--ingredients-->
    <div class="order-info">
        <h4>Новый пункт меню состоит из: </h4>
        <ul>
            {% for item in doc %}
                <li>
                    {{ item.product.product_name }} -
                    {{ item.quantity }} {{ item.product.unit }}
                </li>
            {% endfor %}
        </ul>
    <a href="{% url 'cafecrm:products' %}" class="button light">Добавить еще товар</a>
    <br>
    <a href="{% url 'doc_temp:doc_detail' %}" class="button light">Изменить количество</a>
    </div>
                    <p><input type="submit" value="Создать"></p>
            {% csrf_token %}
        </form>
    {% else %}
    <!--success-->
         <h4>Новый товар - {{ drink_name }} - был добавлен в меню</h4>
    <!--ingredients-->
    <div class="order-info">
        <h3>В него входит: </h3>
        <ul>
            {% for item in doc %}
                <li>
                    {{ item.product.product_name }} - {{ item.quantity }} {{ item.product.unit }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}