{% extends "cafecrm/base.html" %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="item">

        {% if drinks %}
            {% for drink in drinks %}
                <a href="{{ drink.get_absolute_url }}">{{ drink.drink_name }}</a>
                <form action="{% url 'sell_temp:sell_add' drink.id %}" method="post">
                {{ sell_drink_form }}
                {% csrf_token %}
                <input type="submit" value="Add to document">
            </form>
            <hr>
            {% endfor %}
        {% else %}
            There are no drinks in menu.
        {% endif %}
</div>

{% endblock %}