{% extends "cafecrm/base.html" %}

{% load static %}
{% block title %}
    Products
{% endblock %}



{% block content %}

    <!--Drinks-->
<div class="container mt-3">
  <h4>Напитки</h4>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Наименование</th>
        <th>Состав</th>
      </tr>
    </thead>
    <tbody>
      {% for el in menu_drinks %}
        <tr>
          <td> {{ el.drink_name }} - {{ el.price }}</td>
          <td>
            <ul>
            {% for item in drink_items %}
              {% if item.drink_id == el.id %}
                <li>
                  {{ item.product }} - {{ item.quantity }} {{ item.product.unit }}
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

    <!--Snack-->
<div class="container mt-3">
  <h4>Снеки</h4>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Наименование</th>
      </tr>
    </thead>
    <tbody>
      {% for sn in menu_snack %}
        <tr>
          <td> {{ sn.drink_name }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}