{% extends "cafecrm/base.html" %}

{% load static %}
{% block title %}
    Products
{% endblock %}



{% block content %}
     <div class="row justify-content-center">
    <div class="col-4">
    <b>Напитки</b>
    <hr>
      {% for el in menu_drinks %}
        {{ el.drink_name }}
        <ul>
            {% for item in drink_items %}
                {% if item.drink_id == el.id %}
                <li>
                    {{ item.product }} - {{ item.quantity }} {{ item.product.unit }}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
    <div class="col-4">
      <b>Снеки</b>
    <hr>
    {% for sn in menu_snack %}
        {{ sn.drink_name }}
        <br>
    {% endfor %}
    </div>
  </div>

{% endblock %}