{% extends "cafecrm/base.html" %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<form id="form-container" method="POST">
        {% csrf_token %}
        {{product_formset.management_form}}
        {% for form in product_formset %}
        <div class="add-product-form">
        {{form.as_p}}
        </div>
        {% endfor %}
        <button id="add-form" type="button">Add Another Product</button>
        <button type="submit">Create Products</button>
    </form>


    <script>
        let birdForm = document.querySelectorAll(".add-product-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}
