{% extends "cafecrm/base.html" %}
{% load static %}
{% block title %}
    Stock
{% endblock %}
{% block content %}
<div class="row align-items-start"">
    <b>Продукты</b>
    <hr>
    <table class="cart">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Наличие</th>
            <th>Мин. необходимый остаток</th>
            <th>Необходимо докупить</th>
        </tr>
        </thead>
        <tbody>
        {% for item in products %}
            <tr>
                <td> {{ item.product_name }} </td>
                <td class="num">{{ item.stock }} {{ item.unit  }}</td>
                <td>{{ item.min_stock }} {{ item.unit  }}</td>
            <td>{{ item.need_to_order }} {{ item.unit  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <b>Штучный товар</b>
    <hr>
    <table class="cart">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Наличие</th>
            <th>Мин. необходимый остаток</th>
            <th>Необходимо докупить</th>
        </tr>
        </thead>
        <tbody>
        {% for item in snacks %}
            <tr>
                <td> {{ item.product_name }} </td>
                <td class="num">{{ item.stock }} {{ item.unit  }}</td>
                <td>{{ item.min_stock }} {{ item.unit  }}</td>
            <td>{{ item.need_to_order }} {{ item.unit  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <b>Тара</b>
    <hr>
    <table class="cart">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Наличие</th>
            <th>Мин. необходимый остаток</th>
            <th>Необходимо докупить</th>
        </tr>
        </thead>
        <tbody>
        {% for item in tares %}
            <tr>
                <td> {{ item.product_name }} </td>
                <td class="num">{{ item.stock }} {{ item.unit  }}</td>
                <td>{{ item.min_stock }} {{ item.unit  }}</td>
            <td>{{ item.need_to_order }} {{ item.unit  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>

</div>
{% endblock %}
