{% extends "cafecrm/base.html" %}
{% load static %}
{% block title %}
    Temp document
{% endblock %}
{% block content %}
<div class="container mt-3">
  <h4>Продукты</h4>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Итого количество</th>
      </tr>
    </thead>
    <tbody>
      {% for item in doc %}
            {% with product=item.product %}
        <tr>
          <td> <a href="{{ product.get_absolute_url }}">
                            {{ product.product_name }}
                        </a> </td>
          <td><form action="{% url "doc_temp:doc_add" product_id=product.id prev_page=prev_page%}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Изменить">
                {% csrf_token %}
              </form>
          </td>
          <td><a href="{% url "doc_temp:doc_remove" product_id=product.id prev_page=prev_page%}">Удалить</a></td>
          <td>{{ item.quantity }}</td>
        </tr>
          {% endwith %}
        {% endfor %}

    </tbody>
  </table>
</div>

<br>
    <p>
        {% if prev_page == 'new_drink_document' %}
        <a href="{% url 'cafecrm:products_for_new_drink' %}">Добавить еще ингредиент</a>
        <br>
        <a href="{% url 'cafecrm:drink_create' %}">Создать напиток</a>
        <br>
        {% elif prev_page == 'stock_document' %}
            <a href="{% url 'cafecrm:products' %}">Добавить еще товар в складской документ</a>
            <br>
        <a href="{% url 'cafecrm:document_create' %}">Создать складской документ</a>
        <br>
    {% endif %}
    </p>

{% endblock %}
