:root{
	--color-gold: #e0a164

}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
}

th{
	font-weight: inherit;
	color: rgba(255, 255, 255, 0.8) !important;
}

.logo-login{
	margin-top: 50px;
	margin-bottom: 50px;
}