{% extends 'cafecrm/base.html' %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="card no-border">
        {% if products %}
            {% for product in products %}
                <p><b>{{ product.id }}</b> ---
                    <b><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></b>
                     --- {{ product.stock }}-<i>{{ product.unit }}</i></p>
                <hr>
            {% endfor %}
        {% else %}
            В базе нет продуктов

        {% endif %}
<!-- <a href=" { url 'add_product' %}"><input type="button" value="Add product"></a> -->
    </div>
{% endblock %}